@import "variables";

.our-community {
  background-color: #f5f6f7;
}

.community {
  padding: 121px 25px  118px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}